<%= link_to "My basket", basket_path %>
<% if @products.all.any? %>
  <ul>
    <% @products.each do |p| %>
    <li><%= link_to p.name, product_path(p) %></li>
    <p>£<%= p.price %></p>
    <%= link_to "Order #{p.name}", new_product_item_path(p) %>
    <% end %>
  <% else %>
    <h1>No products yet</h1>
  <% end %>
  </ul>

<%= link_to 'Add a product',  new_product_path %>
